@define-color background #24273a;
@define-color foreground #cad3f5;

@define-color regular1 #ed8796;
@define-color regular2 #a6da95;
@define-color regular3 #eed49f;
@define-color regular4 #8aadf4;
@define-color regular5 #f5bde6;
@define-color regular6 #8bd5ca;
@define-color regular7 #b8c0e0;

@define-color bright1 #ed8796; /* red */
@define-color bright2 #a6da95; /* green */
@define-color bright3 #eed49f; /* yellow */
@define-color bright4 #8aadf4; /* blue */
@define-color bright5 #f5bde6; /* pink */
@define-color bright6 #8bd5ca; /* teal */
@define-color bright7 #a5adcb; /* Subtext 0 */

* {
    border: none;
    border-radius: 0;
    font-family: Fira Code Nerd, sans-serif;
    font-size: 14px;
    min-height: 18px;
    color: @foreground;
    background: @background;
}

window#waybar {
    background: shade(@background, 1.25);
}

window#waybar.hidden {
    opacity: 0.2;
}

#window {
    margin-top: 4px;
    margin-bottom: 4px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 26px;
    transition: none;
    color: @foreground;
    background: @background;
}

window#waybar.termite #window,
window#waybar.Firefox #window,
window#waybar.Navigator #window,
window#waybar.PCSX2 #window {
    color: #4d4d4d;
    background: #e6e6e6;
}

#workspaces {
    margin-top: 4px;
    margin-left: 12px;
    margin-bottom: 4px;
    border-radius: 26px;
    background: @background;
    transition: none;
}

#workspaces button {
    transition: none;
    color: @foreground;
    background: transparent;
    font-size: 16px;
}

#workspaces button.focused {
    color: @bright2;
}

#workspaces button.urgent {
    transition: none;
    box-shadow: inherit;
    text-shadow: inherit;
    color: @background;
    background: @bright1
}

#workspaces button:hover {
    transition: none;
    box-shadow: inherit;
    text-shadow: inherit;
    color: @regular1;
}


#idle_inhibitor {
    margin-top: 4px;
    margin-left: 8px;
    padding-left: 8px;
    padding-right: 16px;
    margin-bottom: 4px;
    border-radius: 26px;
    transition: none;
    color: @background;
    background: @regular1;
}

#tray {
    margin-top: 4px;
    margin-left: 8px;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 4px;
    border-radius: 26px;
    transition: none;
    color: @background;
    background: @regular2;
}

#network {
    margin-top: 4px;
    margin-left: 8px;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 4px;
    border-radius: 26px;
    transition: none;
    color: @background;
    background: @regular3;
}

#battery {
    margin-top: 4px;
    margin-left: 8px;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 4px;
    border-radius: 26px;
    transition: none;
    color: @background;
    background: @regular4;

}

#battery.charging {
    color: white;
    background-color: @regular4;
}

#pulseaudio {
    margin-top: 4px;
    margin-left: 8px;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 4px;
    border-radius: 26px;
    transition: none;
    color: @background;
    background: @regular5;
}

#clock {
    margin-top: 4px;
    margin-left: 8px;
    margin-right: 2px;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 4px;
    border-radius: 26px;
    transition: none;
    color: @background;
    background: @regular6;
}

#custom-power {
    margin-top: 4px;
    margin-left: 8px;
    margin-right: 12px;
    padding-left: 12px;
    padding-right: 8px;
    margin-bottom: 4px;
    border-radius: 26px;
    transition: none;
    color: @foreground;
    background: @background;
}

#mpris {
    margin-top: 4px;
    margin-left: 8px;
    margin-right: 2px;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 4px;
    border-radius: 26px;
    transition: none;
    color: @background;
    background: shade(@regular6, 0.6);
}

#mpris.paused {
    color: @background;
    background: shade(@regular7, 0.6);
}
