*.tmp
*.swp

# nvim guff local to each installation
xdg_cfg/nvim/bundle
xdg_cfg/nvim/autoload
xdg_cfg/nvim/spell
xdg_cfg/nvim/.netrwhist*

# tmux plugins
xdg_cfg/tmux/plugins

# Compiled python classes
*.pyc

# zsh plugins ,etc
xdg_cfg/zsh/plugins
